.img-wrap {
  background: #f8f8f8;
  height: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  width: 200px;
}

.img-thumbnails {
  margin: 0 auto 10px;
  width: 200px;
}

ul {
  padding: 0;
}
.img-thumbnails .thumbnail {
  background: #f8f8f8;
  border: 0;
  margin-right: 25px;
  min-height: 50px;
}

li.small-image {
  width: 50px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.pull-left {
  float: left !important;
}

.img-thumbnails .thumbnail:last-child {
  margin-right: 0;
}

a {
  color: #ac005f;
}

.nav-pills > li.active > a, .btn-primary, .btn-primary:focus, .btn-primary:hover {
  background: #ac005f;

  border: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #ac005f;
}
